@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');

/* genaral style */

* {
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.heading {
  font-family: 'Lora', serif;
}

.productTitle {
  font-size: 14px;
  font-weight: 500;
}

.coffeeBG {
  /* background-color: #6f4e37; */
  background-color: #29190d;
}

.bg-image {
    background-image: url('../public/13.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.bg-image-contact {
    background-image: url('../public/13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 15vh;
}

.bg-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #14141491;
}

.bg-overlay .content {
    height: 95%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

/* .navbar-brand {
    font-size: ;
} */


.myColor {
    color: #29190d;
}

.myFontSize {
    font-size: 46px;
}

.myFontSizeTwo {
	  font-size: 20px;
}

.hr {
    background-color: red;
    height: 2px;
    width: 200px;
    margin: 0 auto;
}


.form form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="email"], textarea {
    border:none;
    border-bottom: 1px solid #041230;
}

input, textarea {
    font-size: 13px;
    padding: 11px 11px 11px 0;
    min-width: auto;
    letter-spacing: 1.4px;
    line-height: 1.6;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus, textarea:focus {
    outline: none;
}

form button {
    padding: 10px;
    padding-top: 1rem;
    margin-top: 1.5rem;
    outline: none;
    border: 1px solid #041230;
    background: #29190d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.masonry {
  columns: 4;
  column-gap: 16px;
  @media (max-width: 1200px) {
    columns: 3;
  }
  @media (max-width: 992px) {
    columns: 2;
  }

  .masonry-grid {
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
    &:before {
      border-radius: 5px;
      content:'';
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      background-color:rgba(0,0,0,.2);
    }
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}

